@model List<Entities.Concrete.Order>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Order Bilgileri</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th style="width: 6%">#</th>
                    <th style="width: 10%">Action</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
            <tfoot>
                <tr>
                    <th style="width: 6%">#</th>
                    <th style="width: 10%">Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->

    <div class="card-footer bg-primary">

    </div>
</div>


<a id="add-btn" href="/order-ekle" class="btn btn-success">Yeni Order</a>